[submodule "points-hook/lib/forge-std"]
	path = points-hook/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "points-hook/lib/v4-periphery"]
	path = points-hook/lib/v4-periphery
	url = https://github.com/Uniswap/v4-periphery
[submodule "internal-swap-pool/lib/forge-std"]
	path = internal-swap-pool/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "internal-swap-pool/lib/v4-periphery"]
	path = internal-swap-pool/lib/v4-periphery
	url = https://github.com/Uniswap/v4-periphery
[submodule "swap-and-bridge-op/lib/forge-std"]
	path = swap-and-bridge-op/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "swap-and-bridge-op/lib/v4-periphery"]
	path = swap-and-bridge-op/lib/v4-periphery
	url = https://github.com/Uniswap/v4-periphery
[submodule "swap-and-bridge-op/lib/optimism"]
	path = swap-and-bridge-op/lib/optimism
	url = https://github.com/ethereum-optimism/optimism
